body{
    background-color: rgb(17, 142, 100);
}
form{
    text-align: center;
    margin-top: 200px;
    background-color: rgb(12, 12, 12);
    width: 310px;
    margin-left: 600px;
    border-radius: 40px;
    box-shadow: 1px  9px 90px ;
}
form input{
    color:red;
    font-weight: bold;
    padding: 20px;
    
}
form input.text{
    height: 40px;
    background-color: rgb(19, 21, 21);
    text-align: right;
    color:white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
}
input.one{
    font-size: 20px;
    border-radius: 50%;
}
input.one:hover{
    background-color: greenyellow;
}